<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>

<div id="app">
    <form @submit.prevent="createTask">
        <input type="text" v-model="newTaskTitle">
        <button :disabled="!canSubmit">add</button>
    </form>
    <ul>
        <li v-for="task in tasks">[[ task.Title ]]</li>
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    const app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            tasks: {{.tasks}},
            newTaskTitle: '',
        },
        computed: {
            canSubmit: function() {
                return this.newTaskTitle.length > 0
            },
        },
        methods: {
            createTask: function(_e) {
                fetch('/api/tasks/new', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        title: this.newTaskTitle,
                    }),
                })
                    .then(resp => resp.json())
                    .then(({ task }) => {
                        this.tasks = [...this.tasks, task]
                    })
                    .catch(err => console.error(err))
            }
        }
    })
</script>
</body>
</html>