<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>

<div id="app">
    <form @submit.prevent="createTask">
        <input type="text" v-model="newTaskTitle">
        <button :disabled="!canSubmit">add</button>
    </form>
    <ul>
        <li
            v-for="task in filteredTasks"
        >
            <span
                :style="{ 'text-decoration': task.completed ? 'line-through' : 'none' }"
                @click="toggleTask($event, task.id)"
            >
                [[ task.title ]]
            </span>
            <button @click="deleteTask($event, task.id)">
                x
            </button>
        </li>
    </ul>
    <ul>
        <li
            v-for="filter in filters"
            :style="{ 'color': filter === currentFilter ? 'red' : 'black' }"
            @click="changeFilter($event, filter)"
        >
            [[ filter ]]
        </li>
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    const app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            tasks: {{.tasks}},
            newTaskTitle: '',
            filters: ['all', 'completed', 'uncompleted'],
            currentFilter: 'all',
        },
        computed: {
            canSubmit: function() {
                return this.newTaskTitle.length > 0
            },
            filteredTasks: function() {
                switch (this.currentFilter) {
                    case 'completed':
                        return this.tasks.filter(t => t.completed);
                    case 'uncompleted':
                        return this.tasks.filter(t => !t.completed);
                    case 'all':
                    default:
                        return this.tasks
                }
            }
        },
        methods: {
            createTask: function(_e) {
                fetch('/api/tasks/new', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        title: this.newTaskTitle,
                    }),
                })
                    .then(resp => {
                        if (resp.status !== 200) throw new Error(resp.json().message)
                        return resp.json()
                    })
                    .then(task => {
                        this.tasks = [...this.tasks, task]
                        this.newTaskTitle = ''
                    })
                    .then(() => alert('success'))
                    .catch(err => alert(`failure: ${err}`))
            },
            toggleTask: function(_e, id)  {
                fetch(`/api/tasks/toggle/${id}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                    .then(resp => {
                        if (resp.status !== 200) throw new Error(resp.json().message)
                        return resp.json()
                    })
                    .then(task => {
                        this.tasks = this.tasks.map(t => t.id === task.id ? task : t)
                    })
                    .then(() => alert('success'))
                    .catch(err => alert(`failure: ${err}`))
            },
            deleteTask: function(_e, id)  {
                fetch(`/api/tasks/delete/${id}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                    .then(resp => {
                        if (resp.status !== 200) throw new Error(resp.json().message)
                    })
                    .then(() => this.tasks = this.tasks.filter(t => t.id !== id))
                    .then(() => alert('success'))
                    .catch(err => alert(`failure: ${err}`))
            },
            changeFilter: function(_e, nextFilter) {
                this.currentFilter = nextFilter
            }
        }
    })
</script>
</body>
</html>